body {
    color: black;
    background-color: lightslategray;
    overflow: hidden;
}

h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-shadow: -3px 0 black, -3px 0 black, -3px 0 black, -3px 0 black;
}

.score{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 0px;
    text-align: center;
    text-shadow: -2px 0 black, -2px 0 black, -2px 0 black, -2px 0 black;
}

.btn{
    height: 7vw;
    width: 15vw;
    font-size: 3.2vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f2b671;
    border: solid 2px #f2b671;
    border-radius: 5px;
    color: #2b2115;
    box-shadow: 0 15px 10px -10px darkslategrey;
    transition: all 0.1s ease;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 22px 20px -10px darkslategrey;
    transform: translateY(-7px);
}

.btn:active{
    transition: 0.07s;
    transform: translateY(0px);
    box-shadow: 0 15px 20px -10px darkslategrey;
}

.container{
    display: flex;
    align-items: center;
    margin: auto;
    height: 20vh;
    width: 80vw;
    justify-content: space-evenly;
}

.vertical-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 20vh;
    width: 1fr;
    justify-content: center;
}

#score-container{
    flex-direction: column;
    justify-content: center;
    height: 35vh;
}

#playerVSmachine{
    height: 10vh;
}

#reset{
    position: relative;
    top: 2.5vh;
    left: 41.5vw;
    height: 4vw;
    width: 10vw;
    font-size: 2.7vw;
    text-align: center;
}

#reset:hover{
    box-shadow: 0 19px 20px -10px darkslategrey;
    transform: translateY(-4px);
}

#reset:active{
    transition: 0.07s;
    transform: translateY(0px);
    box-shadow: 0 15px 20px -10px darkslategrey;
}

.win{
    transform: scale(1.25);
    color: gold;
}

.disable{
    background-color: lightgray;
    border: solid lightgray;
    color: grey;
    box-shadow: none;
}

.disable:hover{
    transform: none;
    cursor: not-allowed;
    box-shadow: none;
}

#winner{
    margin-top: -40px;
    opacity: 0;
}
